body {
	background-color: #F2E8BD;
	font-family: sans-serif;
	margin: 0;
	font-size: 15;
}

header, footer, .container, .lista-fotos, .texto-fotos-quartos{
	overflow: hidden;
}

.wrap {
	width: 960px;
	margin: auto;
}

.container {
	background-color: #CCC49F;
	height: auto;
	padding: 10px;
	font-size: 12;
	line-height: 18px;
	float:right;
}

.container img{
	float: left;
	padding-right: 20px;
}

.container h1, h2{
	text-align: center;
	line-height: 10px;
	margin-top: 13px;
}

.container h2, .container-contato h2{
	font-size: 17;
}

.container-contato {
	background-color: #CCC49F;
	height: auto;
	padding: 10px;
	font-size: 12;
	line-height: 18px;
	text-align: center;
	font-size: 12;

}

.container-contato img{
	padding-right: 20px;
}

.container-contato h1, h2{
	text-align: center;
	line-height: 10px;
	margin-top: 13px;
}

.lista-fotos {
	background-color: #CCC49F;
	height: auto;
	padding-left: 125px;
	padding-right: 125px;
	font-size: 12;
	line-height: 18px;	
}

.lista-fotos h1, h2{
	text-align: center;
	line-height: 10px;
	margin-top: 13px;
}

.lista-fotos h2 {
	font-size: 17;
}

.texto-fotos-quartos {
	background-color: #CCC49F;
	height: auto;
	padding-left: 125px;
	padding-right: 125px;
	font-size: 12;
	line-height: 18px;
}

.texto-fotos-quartos h1, h2{
	text-align: center;
	line-height: 10px;
	margin-top: 13px;
}

.texto-fotos-quartos h2 {
	font-size: 17;
}

#centered-text {
	text-align: center;
}

.images-aligned{
	margin-left: -80px;
	width: 960px;
}

.images-aligned p img{
	vertical-align: middle;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: solid;
	border-width: 3px;
}

#img-lancha img{
	float:none;
	display: block; 
    margin-left: auto;
    margin-right: auto;
}

header, footer{
	text-align: center;
}

header {
	background: #C07D41;
	text-shadow: 0 1px 0px grey;
}

.opcoes {
	float: left;
	width: 80%;
}

.opcoes ul li.nav-list-item{
	float:none;
}

.opcoes ul {
	text-align: center;
}

.opcoes ul li{
	text-align: center;
	display: inline;
}

.opcoes li:after{
	content:'|';
	padding: 0 8px;
} 

.opcoes li:last-child:after{
	content: none;
}

.opcoes a{
	text-decoration: none;
	color:#000;
}

.opcoes a:hover{
	text-decoration: underline;
	color: black;
}

.wifi{
	float: left;
	padding: 13px 8px;
}

.flags li{
	display:inline;
}

.flags {
	float: right;
	width: 9%;
}

footer {
	background: #ADB96E;
	font-size: 15px;
	line-height: 2px;
	float: left;
}