body {
	background-color: #F2E8BD;
	font-family: "Arial", sans-serif;
	margin: 0;
	font-size: 10pt;
}

h1, h2 {
	text-align: center;
	line-height: 10px;
	margin-top: 13px;
}

h1 { 
	font-size: 22pt;
	padding: 10px;
}

h2 { font-size: 12pt; }

header, footer, .container, .lista-fotos, .texto-fotos-quartos{
	overflow: hidden;
}

.wrap {
	background-color: #CCC49F;
	width: 960px;
	margin: auto;
	border-left: solid grey 2px;
	border-right: solid grey 2px;	
}

.container {
	background-color: #CCC49F;
	height: auto;
	line-height: 18px;
	padding-right: 20px;
}

.container img{
	float: left;
	margin-right: 20px;
	margin-left: 15px;
}

.container img, .container-contato img, .images-aligned p img, #img-lancha img {
	border: solid grey 4px;
	padding: 0px;
	border-radius: 5px;
}

.images-aligned p a:hover img {
	border: solid #a49630 4px;
}

.container-contato {
	background-color: #CCC49F;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 100px;
	line-height: 18px;
}

.container-contato img{
	padding-right: 20px;
}

.lista-fotos {
/*	background-color: #FFC49F; */
	height: auto;
	padding-left: 150px;
	padding-right: 150px;
	/*width: 725px;*/
	line-height: 18px;	
}

.simple-images p{
	text-align: center;
}

.images-aligned{
	margin-left: -110px;
	width: 960px;
}

.images-aligned p img{
	vertical-align: middle;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.img-lancha img{
	float:none;
	display: block; 
    margin-left: auto;
    margin-right: auto;
}

header, footer{
	text-align: center;
}

header {
	background: #C07D41;
	text-shadow: 0 1px 0px grey;
	font-size: 12pt;
}

.opcoes {
	float: left;
	width: 80%;
}

.opcoes ul li.nav-list-item{
	float:none;
}

.opcoes ul {
	text-align: center;
}

.opcoes ul li{
	text-align: center;
	display: inline;
	background: #ccc49f;
	padding: 6px 14px;
	border: solid grey 1px;
	-webkit-border-radius: 8px;
  	-moz-border-radius: 8px;
  	-ms-border-radius: 8px;
  	-o-border-radius: 8px;
  	border-radius: 8px;
	
}

.opcoes ul li:hover{
	background: #b2ab8a;
	
}

.opcoes li:after{
/*	content:'|';*/
	padding: 0 8px;
} 

.opcoes li:last-child:after{
	content: none;
}

.opcoes a{
	text-decoration: none;
	color:#000;
}

.opcoes a:hover{
	text-decoration: underline;
	color: black;
}

.wifi{
	float: left;
	padding: 13px 8px;
}

.flags li{
	display:inline;
}

.flags {
	float: right;
	width: 9%;
}

footer {
	background: #ADB96E;
	line-height: 2px;
	clear:both;
}

.miniatura-borda {
	-webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

form {
	background: #b8b18f;
	width: 42%;
	padding: 0;
	margin: 0;
	float: left;
	clear:both;
	margin-right: 15px;
	-webkit-border-radius: 15px;
  	-moz-border-radius: 15px;
  	-ms-border-radius: 15px;
  	-o-border-radius: 15px;
  	border-radius: 15px;
	-webkit-box-shadow:  2px 2px 7px 2px rgba(88, 88, 88, 0.8);

	        box-shadow:  2px 2px 7px 2px rgba(88, 88, 88, 0.8);
}

label.field {
	text-align: right;
	width: 65px;
	float: left;
	padding-top: 3px;
}

label.field-middle {
	text-align: right;
	width: 20px;
	float: left;
	padding-top: 3px;
}

label.field-kids {
	text-align: right;
	width: 80px;
	float: left;
}

label.field-hospedes {
	text-align: right;
	width: 65px;
	float: left;
}

.textbox, .textbox-option, .textbox-date{
	float: left;
}

.textbox {
	width: 205px;
}

.textbox-date{
	width: 89px;

}

.textbox-second-option{
	width: 40px;
}

fieldset p {
	clear: both;
	padding: 10px;
}

fieldset {
	border: 0;
}

legend {
	padding-top: 10px;
	font-size: 15pt;
}

/* formatting placeholders. TODO: check for placeholders on ie 9 and before, look bookmarks */
/* all */
::-webkit-input-placeholder { font-style:italic; font-size: 9pt;}
::-moz-placeholder { font-style:italic;font-size: 9pt;} /* firefox 19+ */
:-ms-input-placeholder { font-style:italic;font-size: 9pt;} /* ie */
input:-moz-placeholder { font-style:italic;font-size: 9pt;}

.buttonHolder{ 
	margin-left: 36%;
}

.faq {
	font-size: 8pt;
	margin: 20px auto;
	width: 600px;
}

.faq p{
	font-size: 10pt;
}

.faq p a{
	color: black;
}